:host {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

div {
  width: 100%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

img {
  height: 16px;
  width: 16px;
}

textarea {
  width: 50%;
}
