    .dropdown {
      border: 1px solid #ccc;
      background: #fff;
      position: absolute;
      z-index: 1000;
      width: 200px;
      border-radius: 8px;
    }

    .dropdown div {
      padding: 5px 10px;
      color: black;
      cursor: pointer;
    }

    .dropdown div.active {
      background-color: oklch(70.9% 0.015 304.04);
      border-radius: inherit;
      color: white;
    }
